 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Voluntariando.Me", root_path, :class => "brand" %>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to Event.model_name.human.pluralize, events_path %></li>
              <%= render :partial => "shared/login_bar" %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>