<% content_for :javascripts do %>
  <%= javascript_include_tag :neighborhoods %>
<% end %>
<div class="control-group select optional">
  <%= label_tag :localization, t('localization'), :class => "control-label select optional" %>
  <div class="controls">
    <%= select_tag :neig, 
      options_for_select( Neighborhood::LOCALIZATIONS.collect { |localization| [ localization, Neighborhood::LOCALIZATIONS.index(localization) ] }, 
        :selected => f.object.neighborhood.try(:localization_id)),
      :id => "select_localization",  "data-url" => list_neighborhoods_path, :class => "select"%> 
    </div>
</div>
<%= f.input :neighborhood_id, :collection => Neighborhood.all, :input_html => { :id => :select_neighborhood } %>